BOT_TOKEN=8814543424:AAEFf6AG8RY9Ffu4miIAv4EVVth8204vjwo
SUPABASE_URL=https://ixiuftavghppfoofbvhz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4aXVmdGF2Z2hwcGZvb2Zidmh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzOTg4NzUsImV4cCI6MjEwNTk3NDg3NX0.O7kPXjNDLFwHut4Z4rff37eIa5Dj24rEiu4po0TP0Kw
